<header class="header">
  <section class="header-logo-links">
    <div class="header-width">
      <!-- <a href="{{originUrl}}" target="_self" class="header-logo"></a> -->
      <div class="logo-wrapper">
        <div class="logo-container">
          <div class="logo"></div>
          <div class="image-container"><a href="{{originUrl}}"><img
                src="../../../../cs/cop/assets/images/avaya_logo_onecare_@2.png"
                alt="Avaya Sales &amp; Partner Portal"></a>
          </div>
        </div>
      </div>
      <!-- *ngIf="hideMobile" -->
      <div class="hideMobileView white-serach-icon-container">
        <span (click)="headSearch()" *ngIf="!show">
          <!-- *ngIf="!show" -->
          <i class="icon-search-marketplace pt-2"></i>

          <!-- <img class="img-cursor" src="../../../../cs/cop/assets/images/white-search-icon-png-19.jpg" width="20" /> -->
        </span>
      </div>

      <div class="mobile-menu" (click)="toggleMobileview()">
        <i class="icon-menu"></i>
      </div>
      <ul class="header-links" [class.show]="showMenu">

        <li class="menuList" *ngFor="let link of header?.headerLinks" copDropdown (clickOutside)="closeMenuItems()">
          <a *ngIf="link.openinsamewindow=='false' && !link.logoimage && link.id != '1397208679419'"
            (click)="linkTarget(link, _blank)">{{ link.title }}
            <span *ngIf="link.HasSubHeaderLink">
              <i class="icon-arrow-down" aria-hidden="true"></i>
            </span>
          </a>
          <a *ngIf="link.openinsamewindow=='true' && !link.logoimage && link.id != '1397208679419' && link.alttext !='signin'"
            (click)="linkTarget(link, self)">{{ link.title }}
            <span *ngIf="link.HasSubHeaderLink">
              <i class="icon-arrow-down" aria-hidden="true"></i>
            </span>
          </a>
          <a *ngIf="link.openinsamewindow=='true' && !link.logoimage && link.id != '1397208679419' && link.alttext =='signin' && userInfo.uid"
            (click)="linkTarget(link, self)">{{ link.title }}
            <span *ngIf="link.HasSubHeaderLink">
              <i class="icon-arrow-down" aria-hidden="true"></i>
            </span>
          </a>
          <a (click)="showOutage()" class="outage img-cursor" *ngIf="link.id == '1397208679419'">{{ link.title }}
            <span *ngIf="link.HasSubHeaderLink">
              <i class="icon-arrow-down" aria-hidden="true"></i>
            </span>
          </a>
          <a href="{{link.url}}" *ngIf="link.logoimage"><img src="{{link.logoimage}}"></a>
          <a *ngIf="link.alttext == 'language'" (clickOutside)="closeLanguageDropdown()">
            <span (click)="openLanguageDropdown()" class="img-cursor" *ngIf="!show">
              <i class="icon-website iconAlignment"></i>
            </span>
            <span class="img-cursor d-inline-block pl-2 pt-1 d-sm-none mob-ico-text"
              (click)="openLanguageDropdown()">{{link.title}}</span>
          </a>
          <ul class="menu-dropdown" *ngIf="!hideListMenus">
            <li copSubDropdown class="menu" *ngFor="let sub of link.SubHeaderLinks"><a href="{{sub.url}}">{{sub.title}}
                <span *ngIf="sub.HasSubHeaderLink">
                  <i class="icon-arrow-right" aria-hidden="true"></i>
                </span>
              </a>
            </li>

          </ul>
        </li>

        <!-- *ngIf="!hideMobile" -->
        <li class="searchInputHeader showDesktopView  ml-auto">
          <a>
            <span (click)="headSearch()" class="img-cursor" *ngIf="!show">
              <i class="icon-search-marketplace pt-2"></i>
            </span>
          </a>
        </li>

        <li  copDropdown (clickOutside)="closeMenuItems()" class="menuList user-avatar requestsmenu ">
          <a class="btn requests-ico" (click)="OpenRequestsView('my')"><span>
            <!-- <i class="icon-shop" aria-hidden="true"></i> -->
            {{'myRequests' | translate}}
          </span>
            <!-- <span class="img-cursor d-inline-block pl-2 pt-1 d-sm-none mob-ico-text">{{'requests' | translate}}</span> -->
          </a>
          <ul class="menu-dropdown user-dropdown d-none" *ngIf="!hideListMenus">
           
            <li [routerLink]="[myrequestsOriginUrl]" (click)="OpenRequestsView('')"><a>{{'acoMyTickets' | translate}}</a></li>
            <li [routerLink]="[delegationOriginUrl]" *ngIf='delegationBoolean' (click)="OpenRequestsView('delegated')"><a>{{'delegatedRequests' | translate}}</a></li>
            <li [routerLink]="[historyOriginUrl]" (click)="OpenRequestsView('history')"><a>{{'Historyrequests' | translate}}</a></li>
          </ul>
        </li>

        <li class="user-avatar" (clickOutside)="closeProfileDropdown()" *ngIf="userInfo.uid">
          <a><span><i class="icon-avatar iconAlignment" (click)="openProfileDropdown()"></i></span>
            <span class="img-cursor d-inline-block pl-2 pt-1 d-sm-none mob-ico-text" (click)="openProfileDropdown()">{{'profile' | translate}}</span>
          </a>
          <ul class="user-dropdown cop-prof d-block" *ngIf="infoMenu">
            <li class="user"><a (click)="doNothing()" [attr.title]="userType">{{firstName}} {{lastName}}</a></li>
            <!-- <li (click)="OpenRequestsView('my')"><a>{{'myRequests' | translate}}</a></li> -->
            <li (click)="openDefaultView()" *ngIf="views.length > 1 && userInfo.uid"><a>{{'defaultView' | translate}}<i
                  class="arrow-right icon-arrow-right"></i> </a></li>
            <li (click)="openDelgatesView()" *ngIf="userInfo.uid"> <a>{{'OneCareDelegation' | translate}}<i
                  class="arrow-right icon-arrow-right"></i></a></li>
            <li class="">

              <a href="{{logout}}">{{'OneCareLogout' | translate}}</a>
            </li>
          </ul>
          <ul class="user-dropdown cop-prof d-block" *ngIf="viewSettingIcon">
            <div class="back-to-editSettings editSetting" (click)="backToMainMenu();$event.stopPropagation();">
              <i class="arrow-left icon-arrow-left"></i> Back
            </div>
            <div class="form-group">
              <div>
                <div class="col-sm-7 col-md-12">
                  <label for="user-type-select"
                    class="col-sm-5 col-md-12 control-label">{{'defaultView' | translate}}</label>
                  <select class='form-control' [(ngModel)]="viewId" id="viewDataOption">
                    <option *ngFor="let view of views" [value]="view.id" [selected]="view.defaultview">{{view.title}}
                    </option>
                  </select>
                </div>
                <div class="col-12" *ngIf="views.length > 1">
                  <button type="submit" class="primary-btn applySetting img-cursor" (click)="selectChangeHandler()"
                    [disabled]="buttonDisabled">Apply</button>
                </div>
              </div>
            </div>
          </ul>

          <ul class="user-dropdown cop-prof d-block" *ngIf="defaultSettingIcon">
            <div class="back-to-editSettings editSetting" (click)="backToMainMenu(); $event.stopPropagation();">
              <i class="arrow-left icon-arrow-left"></i> Back
            </div>
            <div class="form-group">
              <div>
                <label for="user-type-select" class="col-sm-5 control-label">{{'delegates' | translate}}</label>
                <form [formGroup]="userprofileForm">
                  <div formArrayName="mobiles">
                    <p *ngIf="showInvalidDelegationMsg" class="invalidMsg">{{'invalidDelegation' | translate}}</p>
                    <div *ngFor="let addedUseres of responseArray; let i=index" class="user-row">
                      <div class="delegationStatic" title="{{addedUseres}}">{{addedUseres}}</div>
                      <div (click)="deleteInitialValue(i); $event.stopPropagation();" class="cross-btn img-cursor">x
                      </div>
                    </div>
                    <ng-container *ngIf="!hideInitalResponseInputBox">
                      <div *ngFor="let mob of mobiles?.controls; let i=index">
                        <input type="text" [formControlName]="i" class="deligationInput">
                        <span *ngIf="mobiles.controls.length >1 " (click)="deleteRow(i);  $event.stopPropagation();"
                          class="delegation-cross-btn">x</span>
                      </div>
                    </ng-container>
                  </div>
                </form>
                <div class="applySetting">
                  <img *ngIf="addButtonFlag" (click)="addInputDeligation();$event.stopPropagation();"
                    src="../../../../cs/cop/assets/svg/add-circular-outlined-button.png" />
                </div>

                <div class="col-12 p-0">
                  <button type="submit" class="primary-btn col-5 applySetting" (click)="saveDelegatesList();"
                    [disabled]="disableApplySetting">Apply</button>
                  <button type="submit" class="primary-btn col-5 applySetting"
                    (click)="backToMainMenu();$event.stopPropagation();">Cancel</button>
                </div>
              </div>
            </div>
          </ul>
        </li>

      </ul>

    </div>

    <!-- {{searchStr}} -->
    <div class="searchMainDiv" *ngIf="show">
      <!-- *ngIf="show" -->
      <div class="search-box-inner">
        <span><a class="searchIconPointer">
            <img src="../../../../cs/cop/assets/images/svgs/search-icon.svg" width="20" (click)="onOptionsSelected($event,$event.target.value)" >
          </a>
        </span>


        <!-- <input type="text" class="searchInput" placeholder="{{'OneCareSearchPlaceholder' | translate}}"
          [(ngModel)]="searchStr" (keyup)="onLoginEventFired($event, searchStr, false)" autofocus #headSearch>
        {{headSearch.focus()}} -->

        <input type="text" class="searchInput"  #fileinput placeholder="{{'OneCareSearchPlaceholder' | translate}}"
          [(ngModel)]="searchStr" (keyup)="getfileinput($event)" >
          <select class="FilterDropdown dropdownForHeader" selected name="statusArray"
          (change)="onOptionsSelected($event,$event.target.value)">
          <!-- <option [value]="sta" value="" disabled selected hidden>Filters</option> -->
          <option class="optionFilterDropdown " *ngFor="let sta of statusArray" [value]="sta">{{sta}}</option>
          <!-- [disabled]="disabledSelect" -->
        </select>
      </div>
      <div>
      </div>
      <div (click)="show = !show">
        <span class="removeSearch">X</span>
      </div>
      <div class="easy-autocomplete-container" id="eac-container-searchInput"
        *ngIf="searchResponse?.body?.results.length > 0 && showDropHide">
        <ul>
          <li class="selected" *ngFor="let autoFill of searchResponse?.body?.results">
            <div class="eac-item" tabindex="1" (click)='searchDropDownSelect(autoFill.name)'><b>{{autoFill.name}}</b>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</header>