
<div class="tabs-container">
	<ul>
	<!-- <li [ngClass]="{'active': tabActive =='home'}"
		(click)="tabAction('home')">
		<i class="icon-gov"></i><span></span>
	  </li> -->
	  <!-- <li [ngClass]="{'active': tabActive=='myrequests'}"
		(click)="tabAction('myrequests')">
		<i class="icon-clipboard"></i><span> {{'myRequests' | translate}}</span>
	  </li>
	  <li [ngClass]="{'active': tabActive=='history'}" (click)="tabAction('history')">
		<i class="icon-history"></i><span> {{'historyRequests' | translate}}</span>
	  </li> -->
	</ul>
  </div>
  <div class="tab-content">
	<div class="tab-content-inner">
		<div *ngIf="!rowsExist">
			<div *ngIf="tabActive =='myrequests'">
				<h5>{{'myTicketsACO' | translate}}</h5>
				<p>{{'clickOnATileBelowToAccess' | translate}} </p>
			</div>
			<div *ngIf="tabActive =='history'">
				<h5>{{'TicketHistory' | translate}}</h5>
				<p>{{'clickOnATileBelowToAccess' | translate}} </p>
				<!-- <p>{{'TicketHistory' | translate}}</p> -->
			</div>
			<!-- <h3>{{'OneCareWelcomeMessage' | translate}} </h3>
			<p>{{'clickOnATileBelowToAccess' | translate}} </p> -->
			<!-- <p>To create a new request, start by selecting a topic below.</p> -->
		</div>
		<div class="loading-shade" *ngIf="isLoadingResults">
			<div class="loader" alt="Please wait..."></div>
		</div>
		
		<div *ngIf="rowsExist">
			<div class="table-header-group">
				<div class="table-header" *ngIf="tabActive =='myrequests'">
					<h4>{{'myTicketsACO' | translate}}</h4>
					<p>{{'ReviewTheListOfOpenRequests' | translate}}</p>
				</div>
				<div class="table-header" *ngIf="tabActive =='history'">
					<h4>{{'TicketHistory' | translate}}</h4>
					<!-- <p>{{'TicketHistory' | translate}}</p> -->
				</div>
				<mat-form-field class="table-filter">
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'FilterRequests' | translate}}"> 	
						<mat-icon matSuffix>
							<i class="icon-filter"></i>
						</mat-icon>
					</mat-form-field>
				</div>
		 </div>
			<div class="tabular-data-wrapper" [hidden]="!rowsExist">
				<mat-table    [dataSource]="tickets"    matSort    class="req-table"    matSortActive="startDate"    matSortDirection="desc"    matSortDisableClear>
					<!-- Request ID Column -->
					<ng-container matColumnDef="ticketId">
						<mat-header-cell *matHeaderCellDef mat-sort-header>{{'requestId' | translate}}  </mat-header-cell>
						<mat-cell *matCellDef="let ticket" (click)="openModalAction(null,ticket.ticketId)"> {{ticket.ticketId}} </mat-cell>
					</ng-container>
					<!-- Start Date Column -->
					<ng-container matColumnDef="startDate">
						<mat-header-cell *matHeaderCellDef mat-sort-header>{{'startDate' | translate}}  </mat-header-cell>
						<mat-cell *matCellDef="let ticket"> {{ticket.startDate | date:'M/dd/yyyy h:mm:ss a'}} </mat-cell>
					</ng-container>
					<!-- Title Column -->
					<ng-container matColumnDef="title">
						<mat-header-cell *matHeaderCellDef>{{'title' | translate}}  </mat-header-cell>
						<mat-cell *matCellDef="let ticket" title={{ticket.title}}> {{ ticket.title && ticket.title.length > 50 ? (ticket.title | slice:0:47) + '...' : ticket.title }}</mat-cell>
						<!-- <mat-cell *matCellDef="let ticket"> {{ ticket.title }}</mat-cell> -->
					</ng-container>
					<!-- Status Column -->
					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef mat-sort-header>{{'status' | translate}}  </mat-header-cell>
						<mat-cell *matCellDef="let ticket"> {{ticket.status}} </mat-cell>
					</ng-container>
					<!-- Request ID Column -->
					<ng-container matColumnDef="possibleActions" class="req-col col-req-action">
						<mat-header-cell *matHeaderCellDef>{{'action' | translate}}  </mat-header-cell>
						<mat-cell *matCellDef="let ticket">
							<select (change)="openModalAction($event,ticket.ticketId)">
								<option>{{'selectAction' | translate}}</option>
								<option *ngFor="let action of ticket.possibleActions" [id]="ticket.ticketId" [value]="action.id"> {{ action.name }} </option>
							</select>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumns" class="req-header"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
				<div [hidden]="!rowsExist">
					<mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
				</div>
			</div>
		
	</div>
  </div>